extends ../layouts/common
block container
  .wrapper.w-50.mx-auto
    if error
      div.alert-danger= error
    form(method='POST')
      .form-group
        label(for='exampleInputEmail1') Your code
        input#exampleInputEmail1.form-control(type='text', placeholder='Enter code' 
          name='code')
      button.btn.btn-primary(type='submit') Submit
