extends ./layouts/common
block container
  .content.mx-4
    h1.text-center
      span Hello 
      span(style={color: '#BE1313'}) CodersX
    p I am a member of community CodersX. Wellcome to my project